:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
    transform:scale(1.6);
    color: var(--primary-color) !important;
}
:host ::ng-deep .p-password {
    .p-password-panel {
        display: none !important;
    }
}

.login-container {
    position: relative;

    &__language {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .forgot {
        text-decoration: underline;
        color: var(--text-color);
    }

    &__btns {
        display: flex;
        justify-content: flex-end;
    }
}

