<div class="login-container">
  <div
    class="surface-ground flex justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="flex flex-column justify-content-center surface-card">
      <div class="login-container__language">
        <app-select-language></app-select-language>
      </div>

      <div class="w-full h-full py-8 px-5 sm:px-8">
        <div class="text-center">
          <img src="assets/images/logo.png" alt="Logo" class="mb-3" />
        </div>

        <div class="text-center mb-5">
          <img
            src="assets/images/nombre.png"
            alt="Nombre empresa"
            class="mb-3"
          />
          <div class="text-3xl font-medium mb-3">Ingreso</div>
        </div>

        <form [formGroup]="login">
          <label for="login_email" class="block text-xl font-medium mb-2"
            >Correo eléctronico</label
          >
          <div class="mb-5">
            <div class="p-input-icon-right">
              <input
                id="login_email"
                type="text"
                placeholder="Correo eléctronico*"
                pInputText
                [class]="
                  'w-full md:w-30rem ' +
                  (email!.invalid && (email!.dirty || email!.touched)
                    ? 'ng-dirty'
                    : '')
                "
                style="padding: 1rem"
                formControlName="email"
              />
              <i class="pi pi-user"></i>
            </div>

            <div
              class="error-form"
              *ngIf="email!.invalid && (email!.dirty || email!.touched)"
            >
              <span *ngIf="email!.errors!.required"> Campo obligatorio </span>

              <span *ngIf="email!.errors!.pattern">
                Formato incorrecto se espera formato aa@dominio.co
              </span>
            </div>
          </div>

          <label for="login_password" class="block font-medium text-xl mb-2"
            >Contraseña</label
          >
          <div class="p-input-icon-right mb-5">
            <p-password
              id="login_password"
              placeholder="Contraseña*"
              [toggleMask]="true"
              [class]="
                password!.invalid && (password!.dirty || password!.touched)
                  ? 'ng-dirty'
                  : ''
              "
              inputStyleClass="w-full p-3 md:w-30rem"
              formControlName="password"
            >
            </p-password>

            <div
              class="error-form"
              *ngIf="
                password!.invalid && (password!.dirty || password!.touched)
              "
            >
              <span *ngIf="password!.errors!.required">
                Campo obligatorio
              </span>

              <span *ngIf="password!.errors!.minlength">
                La contraseña debe ser de mínimo 8 caracteres
              </span>
            </div>
          </div>

          <div
            class="flex align-items-center justify-content-between mb-5 gap-5"
          >
            <div class="flex align-items-center">
              <p-checkbox
                id="login_rememberme"
                [binary]="true"
                styleClass="mr-2"
              ></p-checkbox>
              <label for="rememberme1">Recordarme</label>
            </div>
            <a
              id="login_forgot_password"
              class="font-medium ml-2 text-right cursor-pointer forgot"
              >Olvide mi contraseña</a
            >
          </div>

          <div class="login-container__btns">
            <button
              pButton
              pRipple
              type="button"
              label="Registrarme"
              class="p-button-outlined mr-5"
              [routerLink]="['/']"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              label="Ingresar"
              [disabled]="login!.invalid"
              (click)="onSubmit()"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="login-container__footer">
    <img src="assets/images/frame.png" alt="" />
  </div>
</div>

<!-- <app-custom-dialog
  [dataModal]="dataModal">
</app-custom-dialog> -->
