<p-scrollTop></p-scrollTop>
<div class="login-container">
  <div
    class="surface-ground flex justify-content-center min-h-screen min-w-screen overflow-hidden"
  >
    <div class="flex flex-column justify-content-center surface-card">
      <div class="login-container__language">
        <app-select-language></app-select-language>
      </div>

      <div class="w-full h-full py-4 px-5 sm:px-8">
        <div class="text-center">
          <img src="assets/images/logo.png" alt="Logo" class="mb-3" />
        </div>

        <div class="text-center mb-5">
          <img
            src="assets/images/nombre.png"
            alt="Nombre empresa"
            class="mb-3"
          />
          <div class="text-3xl font-medium mb-2">{{ 'ingreso' | translate }}</div>
        </div>

        <form [formGroup]="login">
          <label for="login_email" class="block text-xl font-medium mb-1"
            >{{ 'correo' | translate }}*</label
          >
          <div class="mb-4">
            <div class="p-input-icon-right w-full">
              <input
                id="login_email"
                type="text"
                [placeholder]="'correo' | translate"
                pInputText
                class="w-full mx-auto p-lg"
                [class]="
                  email!.invalid && (email!.dirty || email!.touched)
                    ? 'ng-dirty'
                    : ''
                "
                formControlName="email"
                inputStyleClass="w-full"
              />
              <i class="pi pi-user"></i>
            </div>

            <div
              class="error-form"
              *ngIf="email!.invalid && (email!.dirty || email!.touched)"
            >
              <span *ngIf="email!.errors!.required">{{ 'campo_obligatorio' | translate }}</span>

              <span *ngIf="email!.errors!.pattern">
                {{ 'correo_incorrecto' | translate }}
              </span>
            </div>
          </div>

          <label  class="block font-medium text-xl mb-1"
            >{{ 'contrasena' | translate }}*</label
          >
          <div class="mb-4">
            <div class="p-input-icon-right mb-4 w-full">
              <p-password
                id="login_password"
                [placeholder]="'contrasena' | translate"
                [toggleMask]="true"
                class="w-full mx-auto p-lg"
                [class]="
                  password!.invalid && (password!.dirty || password!.touched)
                    ? 'ng-dirty'
                    : ''
                "
                formControlName="password"
                inputStyleClass="w-full"
              >
              </p-password>

              <div
                class="error-form"
                *ngIf="
                  password!.invalid && (password!.dirty || password!.touched)
                "
              >
                <span *ngIf="password!.errors!.required">
                  {{ 'campo_obligatorio' | translate }}
                </span>

                <span *ngIf="password!.errors!.minlength">
                  {{ 'minimo_contrasena' | translate }}
                </span>
              </div>
            </div>
          </div>
          <div
            class="flex align-items-center justify-content-between  mb-3 gap-5"
          >
            <div class="flex align-items-center">
              <p-checkbox
                id="login_rememberme"
                [binary]="true"
                styleClass="mr-2"
              ></p-checkbox>
              <label >{{ 'recuerdame' | translate }}</label>
            </div>
            <a
              id="login_forgot_password"
              class="font-medium ml-2 text-right cursor-pointer forgot"
              >{{ 'olvide_contrasena' | translate }}</a
            >
          </div>

          <div class="login-container__btns">
            <button
              pButton
              pRipple
              type="button"
              [label]="'registrarme' | translate"
              class="p-button-outlined mr-5"
              [routerLink]="['/']"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              [label]="'ingresar' | translate"
              [disabled]="login!.invalid"
              (click)="onSubmit()"
            ></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="login-container__footer">
    <img src="assets/images/frame.png" alt="" />
  </div>
</div>

<app-custom-dialog [dataModal]="dataModal"> </app-custom-dialog>
