<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'citas_entrevistas' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-ion-content">
  <div *ngIf="totalAppointments.length > 0"
    class="list-appointments flex justify-content-center  pb-5 mb-5">
    <div class="flex flex-column justify-content-center surface-card p-5 mt-4 mb-4 list-appointments-card">
      <div *ngFor="let appointments of totalAppointments">
        <label class="text-2xl font-bold">{{appointments.date}}</label>
        <div *ngFor="let appointment of appointments.appointments" class="pt-3">
          <label class="text-xl font-semibold"> {{appointment.title}}</label>
          <div class="formgrid grid">
            <div class="field col ">
              <label class="text-lg text-600 pt-2">{{appointment.hourFormat}}</label>
              <label class="text-lg"> {{appointment.participantName}} </label>
              <label class="text-base text-500"> {{appointment.description}} </label>
              <label class="text-sm text-500">{{appointment.processName}} </label>
            </div>
            <div class="field col flex flex-column">
              <div class="flex justify-content-end flex-wrap pb-2 pt-2">
                <i *ngIf="appointment.isDone && appointment.rol != 'CANDIDATO'" class="pr-2 pi pi-eye icon-color" [routerDirection]="'root'"
                  [routerLink]="['/detalle-entrevista', appointment.id]"></i>
                <i *ngIf="!appointment.isDone" style="color: green" class="pr-2 pi pi-calendar"></i>
              </div>
              <div class="flex justify-content-end flex-wrap">
                <p-tag [severity]="appointment.severity">
                  <div class="flex align-items-center gap-2">
                    <span *ngIf="appointment.isDone" class="text-base">{{ 'cita_finalizada' | translate }}</span>
                    <span *ngIf="!appointment.isDone" class="text-base">{{ 'cita_activa' | translate }}</span>
                  </div>
                </p-tag>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div *ngIf="totalAppointments.length < 1" class="w-full h-full py-8 surface-ground px-3 sm:px-4">
    <div class="text-center">
      <img src="assets/images/logo.png" alt="Logo" class="mb-3" />
    </div>
    <div class="text-center mb-5">
      <img src="assets/images/nombre.png" alt="Nombre empresa" class="mb-3" />
    </div>
    <div class="text-center">
      <label class=" text-2xl font-bold">{{ 'sin_citas' | translate }}</label>
    </div>
  </div>

</ion-content>
<app-footer></app-footer>