<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="title_result_interview">{{ 'detalle_entrevista' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-ion-content">
  <div class="interview-detail flex justify-content-center  pb-5 mb-5">
    <div class="flex flex-column justify-content-center surface-card p-5 mt-4 mb-4 interview-detail-card">

      <div *ngIf="showError">
        <p>{{'sin_notas' | translate}}</p>
      </div>

      <div *ngIf="!showError">
        <div class="flex justify-content-start mb-3">
          <p class="mb-0 mr-2">
            <strong>
              {{'nombre_candidato' | translate}}
            </strong>
          </p>
        </div>
        <div class="flex justify-content-start mb-3">
          <p class="mb-0">
            {{detailInterview.appointment.candidateName}}
          </p>
        </div>
        <div class="flex justify-content-between mb-3">
          <p class="mb-0 mr-2">
            <strong>
              {{'fecha' | translate}}
            </strong>
          </p>
        </div>
        <div class="flex justify-content-start mb-3">
          <p class="mb-0">
            {{detailInterview.appointment.date | date: 'dd-MM-yyyy hh:mm a'}}
          </p>
        </div>
        <div class="mb-3">
          <p class="m-auto">
            <strong>
              {{'notas' | translate}}
            </strong>
          </p>

          <div class="note-detail border-solid border-500 border-1 border-round-sm p-2 mt-2">
            <p class="m-auto">
              {{detailInterview.notes}}
            </p>
          </div>

        </div>

        <div>
          <p class="m-auto">
            <strong>
              {{'conclusiones' | translate}}
            </strong>
          </p>

          <div class="note-detail border-solid border-500 border-1 border-round-sm p-2 mt-2">
            <p class="m-auto">
              {{detailInterview.conclusions}}
            </p>
          </div>

        </div>
      </div>

      <div class="flex justify-content-end mt-5">
        <button pButton pRipple type="button" [label]="'volver'|translate" class="p-button-outlined"
          [routerLink]="['/listar-citas']" [routerDirection]="'root'">
        </button>
      </div>

    </div>
  </div>
</ion-content>
<app-footer></app-footer>