<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'educacion' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-ion-content">
  <div class="register-tech flex justify-content-center  pb-5 mb-5 ">
    <div class="flex flex-column justify-content-center surface-card p-5 mt-4 mb-4 update-education-container">
      <form [formGroup]="updateEducation" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="w-full block text-xl font-medium mb-2"
            for="tittle">{{'titulo_educativo'|translate}}</label>

          <div class="w-full">
            <input id="tittle" type="text" [placeholder]="'titulo_educativo' | translate " pInputText [class]="'w-full ' + 
                              (tittleName!.invalid && (tittleName!.dirty || tittleName!.touched) ? 'ng-dirty' : '')"
              style="padding:1rem" formControlName="tittleName">
          </div>

          <div class="error-form" *ngIf="tittleName!.invalid && (tittleName!.dirty || tittleName!.touched)">
            <span *ngIf="tittleName!.errors!.required">
              {{ 'campo_obligatorio' | translate }}
            </span>
          </div>
        </div>        
        <div class="mb-4">
          <label class="w-full block text-xl font-medium mb-2" for="institucionName">{{'institucion'|translate}}</label>
  
          <div class="w-full">
            <input id="institucionName" type="text" [placeholder]="'institucion' | translate " pInputText [class]="'w-full ' + 
                                (institution!.invalid && (institution!.dirty || institution!.touched) ? 'ng-dirty' : '')"
              style="padding:1rem" formControlName="institution">
          </div>
  
          <div class="error-form" *ngIf="institution!.invalid && (institution!.dirty || institution!.touched)">
            <span *ngIf="institution!.errors!.required">
              {{ 'campo_obligatorio' | translate }}
            </span>
          </div>
        </div>
        <div class="mb-4">
          <label for="educationType" class="w-full block text-xl font-medium mb-2">{{'tipo' | translate}}</label>
  
          <div class="w-full">
            <p-dropdown [placeholder]="('seleccione_una_opcion' | translate)" [options]="educationTypeOptions"
              optionValue="id" optionLabel="name" formControlName="educationType"
              [class]="(educationType!.invalid && (educationType!.dirty || educationType!.touched) ? 'ng-dirty' : '')"></p-dropdown>
          </div>
  
          <div class="error-form" *ngIf="educationType!.invalid && (educationType!.dirty || educationType!.touched)">
            <span *ngIf="educationType!.errors!.required">
              {{ 'campo_obligatorio' | translate }}
            </span>
          </div>
        </div>
        <div class="mb-4">
          <label class="w-full block text-xl font-medium mb-2" for="datein">{{'fecha_inicio'|translate}}</label>

          <div class="p-inputgroup w-full">
            <span class="p-inputgroup-addon">
              <i class="pi pi-calendar"></i>
            </span>
            <p-calendar styleClass="w-full p-component p-element" id="datein" formControlName="dateStart"
              placeholder="DD-MM-YYYY" dateFormat="dd-mm-yy"></p-calendar>
          </div>

          <div class="error-form" *ngIf="dateStart!.invalid && (dateStart!.dirty || dateStart!.touched)">
            <span *ngIf="dateStart!.errors!.required">
              {{ 'campo_obligatorio' | translate }}
            </span>
          </div>
        </div>
        <div class="mb-4">
          <label class="w-full block text-xl font-medium mb-2" for="dateOut">{{'fecha_fin'|translate}}</label>
          <div class="p-inputgroup w-full">
            <span class="p-inputgroup-addon">
              <i class="pi pi-calendar"></i>
            </span>
            <p-calendar styleClass="w-full p-component p-element" id="dateOut" formControlName="dateEnd"
              placeholder="DD-MM-YYYY" dateFormat="dd-mm-yy"></p-calendar>
          </div>

          <div class="error-form" *ngIf="dateEnd!.invalid && (dateEnd!.dirty || dateEnd!.touched)">
            <span *ngIf="dateEnd!.errors!.required">
              {{ 'campo_obligatorio' | translate }}
            </span>
            <span *ngIf="dateEnd!.errors!.invaliddate">
              {{ 'la_fecha_inicio_no_puede_ser_mayor_a_la_fecha_fin' | translate }}
            </span>
          </div>
        </div>
        <div class="flex justify-content-end">
          <button pButton pRipple type="button" [label]="'cancelar'|translate" [routerDirection]="'root'" class="p-button-outlined mr-5"
            [routerLink]="['/completar-perfil']">
          </button>
          <button pButton pRipple type="button" [disabled]="updateEducation.invalid"  [label]="'guardar'|translate"  (click)="onSubmit()">
          </button>
        </div>

        <div class="mx-auto mt-3 w-6" *ngIf="loading">
          <p-progressBar mode="indeterminate"></p-progressBar>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<app-custom-dialog [dataModal]="dataModal" (closeModal)="closeModal($event)" (confirmModal)="confirmModal($event)">
</app-custom-dialog>
<app-footer></app-footer>