:host ::ng-deep .pi-eye,
:host ::ng-deep .pi-eye-slash {
    transform: scale(1.6);
    color: var(--primary-color) !important;
}

:host ::ng-deep {
    .p-password {
        .p-password-panel {
            display: none !important;
        }
    } 
    
    .p-dropdown,
    .p-inputtext,
    .p-password,
    .p-calendar {
        width: 100%;
    }
}

.register-container {
    position: relative;

    &__language {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
    }

    .logo {
        width: 75px;
    }

    .company {
        width: 80px;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .register-pad {
        padding-bottom: 140px;
    }

    .forgot {
        text-decoration: underline;
        color: var(--text-color);
    }

    &__btns {
        display: flex;
        justify-content: flex-end;
    }
}

::ng-deep {
    .p-password {
        width: 100%;
    }
}

.content {
    height: calc(100% - 56px - -12px)
}

.register-container-card {
    max-width: 80vw;
    min-width: 80vw;
}