<ion-menu contentId="main-content" class="layout-menu">
  <div class="layout-menu__logo mt-3">
    <div class="text-center layout-menu__logo-image mb-3">
      <img src="assets/images/logo.png" alt="Logo">
    </div>

    <div class="text-center mb-5 layout-menu__logo-txt">
      <img src="assets/images/nombre.png" alt="Nombre empresa">
    </div>
  </div>
  <ion-content class="ion-padding">
    <div class="layout-menu__menu surface-card m-3 border-round-xl">
      <ion-list>
        <ion-menu-toogle *ngFor="let i of model ">
          <ion-item *ngFor="let item of i.items " [routerDirection]="'root'" [routerLink]="item.routerLink">
            <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
            <ion-label class="layout-menuitem-text">
              {{item.label | translate}}
            </ion-label>
            <i class="pi pi-fw pi-angle-right layout-submenu-toggler"></i>
          </ion-item>
        </ion-menu-toogle>
      </ion-list>
    </div>
    <app-select-language></app-select-language>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar [routerDirection]="'root'" [routerLink]="'/iniciar-sesion'" (click)="logout()">
      <ion-title>Salir</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>