<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="content-ion-content">
  <div class="w-full h-full py-8 px-3 sm:px-4">
    <div class="text-center">
      <img src="assets/images/logo.png" alt="Logo" class="mb-3" />
    </div>
    <div class="text-center mb-5">
      <img src="assets/images/nombre.png" alt="Nombre empresa" class="mb-3" />
    </div>
  </div>
</ion-content>
<app-footer></app-footer>